<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/navbar.css">
</head>

<body>
    <div class='forgotPassword'>
        <div class='logoContainer'>
            <img src='/img/logo.png' class='logo'></img>
        </div>
        <h2 class='greeting'>
            <%= dict[lang].greeting %>
        </h2>
        <p class='greet'>
            <%= dict[lang].greet %>
        </p>
        <form action="" method="post" id="loginForm" class='signForm'>
            <div class="inputDiv">
                <img src='/img/passwordIcon.svg' class='inputIcon' id="passwordIcon"></img>
                <label class='labelPassword'>
                    <%= dict[lang].labelPassword %>
                </label>
                <input class='input' type='password' id="passwordInput" name="password"></input>
                <ul class="passwordErrorMsg" id="passwordErrorMsg">
                    <li><%= dict[lang].fillField %></li>
                </ul>
                <ul class="passwordErrorMsg" id="passwordLongErrorMsg">
                    <li><%= dict[lang].passwordMaxSymbols %></li>
                </ul>
            </div>
            <ul class="regPasswordErrorMsg" id="passwordRequirements">
                <li><%= dict[lang].passwordSymbols %></li>
                <li><%= dict[lang].passwordCapital %></li>
                <li><%= dict[lang].passwordMinNum %></li>
                <li><%= dict[lang].passwordSpecialSymbols %></li>
            </ul>
            <div class="inputDiv">
                <img src='/img/passwordIcon.svg' class='inputIcon' id="repeatPasswordIcon"></img>
                <label class='labelPassword'>
                    <%= dict[lang].labelPassword %>
                </label>
                <input class='input' type='password' id="passwordRepeatInput" name="password1"></input>
                <ul class="passwordErrorMsg" id="passwordRepeatEmptyErrorMsg">
                    <li><%= dict[lang].fillField %></li>
                </ul>
                <ul class="passwordErrorMsg" id="passwordRepeatErrorMsg">
                    <li><%= dict[lang].passwordsMismatch %></li>
                </ul>
            </div>
            <button class='signInBtn' type="submit">
                <%= dict[lang].signInBtn %>
            </button>
        </form>
    </div>
    <footer>
        <nav>
            <div class="navbar">
                <a href="/" class="navbar-item">
                    <img src="/img/main.svg" alt="main">
                    <p><%= dict[lang].mainPage %></p>
                </a>
                <a href="/createPost" class="navbar-item">
                    <img src="/img/createPost.svg" alt="createPost">
                    <p><%= dict[lang].createPostPage %></p>
                </a>
                <a href="/favorites" class="navbar-item">
                    <img src="/img/favorites.svg" alt="favorites">
                    <p><%= dict[lang].favoritesPage %></p>
                </a>
                <a href="/profile/publications" class="navbar-item">
                    <img src="/img/profileImg.svg" alt="profile">
                    <p><%= dict[lang].profilePage %></p>
                </a>
            </div>
        </nav>
    </footer>
    <script src="/scripts/forgotPassword.js"></script>
</body>

</html>
