<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/navbar.css">
</head>

<body>
    <div class='forgotPassword'>
        <div class='logoContainer'>
            <img src='img/logo.png' class='logo'></img>
        </div>
        <h2 class='greeting'>
            <%= dict[lang].greeting %>
        </h2>
        <p class='greet'>
            <%= dict[lang].greet %>
        </p>
        <form action="" method="post" id="loginForm" class='signForm'>
            <div class="inputDiv">
                <img src='img/passwordIcon.svg' class='inputIcon' id="passwordIcon"></img>
                <label class='labelPassword'>
                    <%= dict[lang].labelPassword %>
                </label>
                <input class='input' type='password' id="passwordInput" name="password"></input>
                <ul class="passwordErrorMsg" id="passwordErrorMsg">
                    <!-- Заполните поле -->
                    <li><%= dict[lang].fillField %></li>
                </ul>
                <ul class="passwordErrorMsg" id="passwordLongErrorMsg">
                    <!-- Размер поля превышает 50 символов -->
                    <li><%= dict[lang].passwordMaxSymbols %></li>
                </ul>
            </div>
            <ul class="regPasswordErrorMsg" id="passwordRequirements">
                <!-- От 6 до 16 латинских символов -->
                <li><%= dict[lang].passwordSymbols %></li>
                <!-- Заглавная буква -->
                <li><%= dict[lang].passwordCapital %></li>
                <!-- Минимум одна цифра -->
                <li><%= dict[lang].passwordMinNum %></li>
                <!-- Без специальных символов -->
                <li><%= dict[lang].passwordSpecialSymbols %></li>
            </ul>
            <div class="inputDiv">
                <img src='img/passwordIcon.svg' class='inputIcon' id="repeatPasswordIcon"></img>
                <label class='labelPassword'>
                    <%= dict[lang].labelPassword %>
                </label>
                <input class='input' type='password' id="passwordRepeatInput" name="password"></input>
                <ul class="passwordErrorMsg" id="passwordRepeatEmptyErrorMsg">
                    <!-- Заполните поле -->
                    <li><%= dict[lang].fillField %></li>
                </ul>
                <ul class="passwordErrorMsg" id="passwordRepeatErrorMsg">
                    <!-- Пароли не совпадают -->
                    <li><%= dict[lang].passwordsMismatch %></li>
                </ul>
            </div>
            <button class='signInBtn' type="submit">
                <%= dict[lang].signInBtn %>
            </button>
        </form>
    </div>
    <footer>
        <nav>
            <div class="navbar">
                <a href="#" class="navbar-item">
                    <img src="../static/img/main.svg" alt="main">
                    <!-- Главная -->
                    <p><%= dict[lang].mainPage %></p>
                </a>
                <a href="#" class="navbar-item">
                    <img src="../static/img/createPost.svg" alt="createPost">
                    <!-- Создать пост -->
                    <p><%= dict[lang].createPostPage %></p>
                </a>
                <a href="#" class="navbar-item">
                    <img src="../static/img/favorites.svg" alt="favorites">
                    <!-- Избранное -->
                    <p><%= dict[lang].favoritesPage %></p>
                </a>
                <a href="#" class="navbar-item">
                    <img src="../static/img/profileImg.svg" alt="profile">
                    <!-- Профиль -->
                    <p><%= dict[lang].profilePage %></p>
                </a>
            </div>
        </nav>
    </footer>
    <script src="../static/scripts/forgotPassword.js"></script>
</body>

</html>
