<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>
    <div class='profile'>
        <div class='logoContainer'>
            <img src='../static/img/logo.png' class='logo'></img>
        </div>
        <!-- Hello Again! -->
        <h2 class='greeting'>
            <%= dict[lang].greeting %>
        </h2>
        <!-- Welcome to the Kostanay_Portal -->
        <p class='greet'>
            <%= dict[lang].greet %>
        </p>
        <!-- This is a very good Portal -->
        <p class='secondGreet'>
            <%= dict[lang].secondGreet %>
        </p>
        <form action="/login" method="post" id="loginForm" class='signForm'>
            <div class="loginEmailInputDiv">
                <img src='../static/img/dog.svg' class='inputIconEmail' id="loginEmailIcon"></img>
                <label class='labelEmail'>E-mail</label>
                <input class='input' type='email' id="emailInput" name="mail"></input>
                <span class="emailErrorMsg"></span>
            </div>
            <div class="loginPasswordInputDiv">
                <img src='../static/img/passwordIcon.svg' class='inputIconPassword' id="loginPasswordIcon"></img>
                <!-- Пароль -->
                <label class='labelPassword'>
                    <%= dict[lang].labelPassword %>
                </label>
                <input class='input' type='password' id="passwordInput" name="password"></input>
                <span class="passwordErrorMsg"></span>
            </div>
            <!-- Войти -->
            <button class='signInBtn' type="submit">
                <%= dict[lang].signInBtn %>
            </button>
            <!-- Забыли пароль? -->
        </form>
        <a class='forgotPasswordBtn'>
            <%= dict[lang].forgotPasswordBtn %>
        </a>
        <div class='anotherOptions'>
            <!-- Другие варианты входа: -->
            <!-- Войти через Google - signWithGoogle -->
            <!-- Войти через Facebook - signWithFacebook -->
            <!-- Войти через VK - signWithVK -->
            <p class='anotherOptionsCaption'>
                <%= dict[lang].anotherOptionsCaption %>
            </p>
            <a class='signInWithBtn'> <img src='../static/img/googleIcon.svg' class='signInWithIcon'></img> <span
                    class='signInWithCaption'>
                    <%= dict[lang].signWithGoogle %>
                </span></a>
            <a class='signInWithBtn'> <img src='../static/img/facebookIcon.svg' class='signInWithIcon'></img> <span
                    class='signInWithCaption'>
                    <%= dict[lang].signWithFacebook %>
                </span></a>
            <a class='signInWithBtn'> <img src='../static/img/VKIcon.svg' class='signInWithIcon'></img> <span
                    class='signInWithCaption'>
                    <%= dict[lang].signWithVK %>
                </span></a>
        </div>
        <!-- Нет аккаунта? -->
        <p class='noAccountCaption'>
            <%= dict[lang].noAccountCaption %>
        </p>
        <!-- Зарегестрироваться -->
        <a class='noAccountBtn'>
            <%= dict[lang].noAccountBtn %>
        </a>
    </div>
    <script src="../static/scripts/script.js"></script>
</body>

</html>