<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class='profile'>
        <div class='logoContainer'>
            <img src='img/logo.png' class='logo'></img>
        </div>
        <h2 class='greeting'>
            <%= dict[lang].greeting %>
        </h2>
        <p class='greet'>
            <%= dict[lang].greet %>
        </p>
        <form action="/auth/login" method="post" id="loginForm" class='signForm'>
            <div class="inputDiv">
                <img src='img/dog.svg' class='inputIconEmail' id="loginEmailIcon"></img>
                <label class='labelEmail'>E-mail</label>
                <input class='input' type='email' id="emailInput" name="mail"></input>
                <span class="emailErrorMsg"></span>
            </div>
            <div class="inputDiv">
                <img src='img/passwordIcon.svg' class='inputIconPassword' id="loginPasswordIcon"></img>
                <label class='labelPassword'>
                    <%= dict[lang].labelPassword %>
                </label>
                <input class='input' type='password' id="passwordInput" name="password"></input>
                <span class="passwordErrorMsg"></span>
            </div>
            <button class='signInBtn' type="submit">
                <%= dict[lang].signInBtn %>
            </button>
        </form>
        <a class='forgotPasswordBtn'>
            <%= dict[lang].forgotPasswordBtn %>
        </a>
        <div class='anotherOptions'>
            <p class='anotherOptionsCaption'><%= dict[lang].anotherOptionsCaption %></p>
            <a class='signInWithBtn' href='/auth/google'> <img src='img/googleIcon.svg' class='signInWithIcon'></img> <span
                    class='signInWithCaption'><%= dict[lang].signWithGoogle %></span></a>
        </div>
        <p class='noAccountCaption'><%= dict[lang].noAccountCaption %></p>
        <a href="/auth/signup" class='noAccountBtn'><%= dict[lang].noAccountBtn %></a>
    </div>
    <script src="scripts/script.js"></script>
</body>

</html>
