<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/auth/styles/style.css">
    <link rel="stylesheet" href="/auth/styles/navbar.css">
</head>

<body>
    <div class='registerForm'>
        <div class='logoContainer'>
            <img src='/auth/img/logo.png' class='logo'></img>
        </div>
        <h2 class='greeting'>
            <%= dict[lang].greeting %>
        </h2>
        <p class='greet'>
            <%= dict[lang].registerAccount %>
        </p>
        <form action="/auth/signup" method="post" class='signForm' id="signUpForm">
            <div class="nameInputDiv">
                <label class='nameLabel'>
                    <%= dict[lang].nameLabel %>
                </label>
                <input class='nameInput' type="text" id="nameInput" name="name"></input>
            </div>
            <div class="surnameInputDiv">
                <label class='surnameLabel'>
                    <%= dict[lang].surnameLabel %>
                </label>
                <input class='surnameInput' type="text" id="surnameInput" name="second_name"></input>
            </div>
            <ul class="nameErrorMsg" id="nameEmptyErrorMsg">
                <li></li>
            </ul>
            <ul class="nameErrorMsg" id="nameErrorMsg">
                <li><%= dict[lang].nameSymbols %></li>
            </ul>
            <ul class="nameErrorMsg" id="nameCapitalMsg"> 
                <li><%= dict[lang].capitalLetter %></li>
            </ul>
            <div class="inputDiv">
                <img src='/auth/img/dog.svg' class='inputRegIcon' id="emailRegIcon"></img>
                <label class='regLabelEmail'>E-mail</label>
                <input class='inputReg' type='text' id="registerEmail" name="mail"></input>
            </div>
            <ul class="regEmptyEmailErrorMsg">
                <li><%= dict[lang].fillEmail %></li>
            </ul>
            <ul class="regNotValidEmailErr">
                <li><%= dict[lang].emailNotValid %></li>
            </ul>
            <div class="inputDiv">
                <img src='/auth/img/passwordIcon.svg' class='inputRegIcon' id="passwordRegIcon"></img>
                <label class='regLabelPassword'>
                    <%= dict[lang].labelPassword %>
                </label>
                <input class='inputReg' type='password' id="registerPassword" name="password"></input>
            </div>
            <ul class="regPasswordErrorMsg" id="passwordRequirements">
                <li><%= dict[lang].passwordSymbols %></li>
                <li><%= dict[lang].passwordCapital %></li>
                <li><%= dict[lang].passwordMinNum %></li>
                <li><%= dict[lang].passwordSpecialSymbols %></li>
            </ul>
            <button class='signInBtn'>
                <%= dict[lang].signUpBtn %>
            </button>
        </form>
        <!-- <div class='anotherOptions'>
            <p class='anotherOptionsCaption'>
                <%= dict[lang].anotherOptionsCaption %>
            </p>
            <a href="/auth/google" class='signInWithBtn'> <img src='/auth/img/googleIcon.svg' class='signInWithIcon'></img>
                <span class='signInWithCaption'>
                    <%= dict[lang].signWithGoogle %>
                </span></a>
        </div> -->
        <span class='haveAccountCaption'>
            <%= dict[lang].haveAccountCaption %>
                <a class='returnToSignUpBtn' href="/auth/login">
                    <%= dict[lang].returnToSignUpBtn %>
                </a>
        </span>
    </div>
    <footer>
        <nav>
            <div class="navbar">
                <a href="/" class="navbar-item">
                    <img src="/auth/img/main.svg" alt="main">
                    <p><%= dict[lang].mainPage %></p>
                </a>
                <a href="/createPost" class="navbar-item">
                    <img src="/auth/img/createPost.svg" alt="createPost">
                    <p><%= dict[lang].createPostPage %></p>
                </a>
                <a href="/favorites" class="navbar-item">
                    <img src="/auth/img/favorites.svg" alt="favorites">
                    <p><%= dict[lang].favoritesPage %></p>
                </a>
                <a href="/profile/publications" class="navbar-item">
                    <img src="/auth/img/profileImg.svg" alt="profile">
                    <p><%= dict[lang].profilePage %></p>
                </a>
            </div>
        </nav>
    </footer>
    <script>
        
        function validateNames() {
            const capitalRegex = /^[A-ZА-Я]/;
            if (!firstNameInput.value.match(capitalRegex) || !lastNameInput.value.match(capitalRegex)) {
                nameCapitalMsg.style.display = "block";
                nameCapitalMsg.classList.remove("success");
                nameCapitalMsg.classList.add("fail")
                firstNameInput.classList.add("inputAdd");
                firstNameInput.style.borderColor = "#ED5454";
                lastNameInput.classList.add("inputAdd");
                lastNameInput.style.borderColor = "#ED5454";
            } else {
                nameCapitalMsg.classList.remove("fail");
                nameCapitalMsg.classList.add("success");
                firstNameInput.classList.remove("inputAdd");
                firstNameInput.style.borderColor = "#B9B9B9";
                lastNameInput.classList.remove("inputAdd");
                lastNameInput.style.borderColor = "#B9B9B9";
            }
            if (!firstNameInput.value.match(nameRegex) || !lastNameInput.value.match(nameRegex)) {
                nameErrorMsg.style.display = "block";
                nameErrorMsg.classList.remove("success");
                nameErrorMsg.classList.add("fail")
                firstNameInput.classList.add("inputAdd");
                firstNameInput.style.borderColor = "#ED5454";
                lastNameInput.classList.add("inputAdd");
                lastNameInput.style.borderColor = "#ED5454";
            } else {
                nameErrorMsg.classList.remove("fail");
                nameErrorMsg.classList.add("success");
                firstNameInput.classList.remove("inputAdd");
                firstNameInput.style.borderColor = "#B9B9B9";
                lastNameInput.classList.remove("inputAdd");
                lastNameInput.style.borderColor = "#B9B9B9";
            }

            if (firstNameInput.value.trim() === "" && lastNameInput.value.trim() === "") {
                nameEmptyErrorMsg.style.display = "block";
                nameErrorMsgLi.textContent = '<%= dict[lang].fillNameAndLastName %>';
                nameEmptyErrorMsg.classList.add("fail")
            } else if (firstNameInput.value.trim() === "") {
                nameEmptyErrorMsg.style.display = "block";
                nameErrorMsgLi.textContent = '<%= dict[lang].fillName %>';
                nameEmptyErrorMsg.classList.add("fail")
            } else if (lastNameInput.value.trim() === "") {
                nameEmptyErrorMsg.style.display = "block";
                nameErrorMsgLi.textContent = '<%= dict[lang].fillLastName %>';
                nameEmptyErrorMsg.classList.add("fail")
            } else {
                nameEmptyErrorMsg.style.display = "none";
            }
            
            function blur() {
                nameErrorMsg.style.display = "none";
                nameEmptyErrorMsg.style.display = "none";
                nameCapitalMsg.style.display = "none";
                firstNameInput.classList.remove("inputAdd");
                firstNameInput.style.borderColor = "#B9B9B9";
                lastNameInput.classList.remove("inputAdd");
                lastNameInput.style.borderColor = "#B9B9B9";
            }

            firstNameInput.addEventListener('blur', blur)
            lastNameInput.addEventListener('blur', blur)
        }
    </script>
    <script src="/auth/scripts/signup.js"></script>
</body>

</html>
