<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>
    <div class='registerForm'>
        <div class='logoContainer'>
            <img src='../static/img/logo.png' class='logo'></img>
        </div>
        <!-- Hello Again! -->
        <h2 class='greeting'>
            <%= dict[lang].greeting %>
        </h2>
        <!-- Welcome to the Kostanay_Portal -->
        <p class='greet'>
            <%= dict[lang].greet %>
        </p>
        <form action="/signup" method="post" class='signForm' id="signUpForm">
            <div class="nameInputDiv">
                <!-- Имя -->
                <label class='nameLabel'>
                    <%= dict[lang].nameLabel %>
                </label>
                <input class='nameInput' type="text" id="nameInput" name="name"></input>
            </div>
            <div class="surnameInputDiv">
                <!-- Фамилия -->
                <label class='surnameLabel'>
                    <%= dict[lang].surnameLabel %>
                </label>
                <input class='surnameInput' type="text" id="surnameInput" name="second_name"></input>
            </div>
            <p class="nameErrorMsg"></p>
            <div class="inputDiv">
                <img src='../static/img/dog.svg' class='inputRegIcon' id="emailRegIcon"></img>
                <label class='regLabelEmail'>E-mail</label>
                <input class='inputReg' type='email' id="registerEmail" name="mail"></input>
            </div>
            <span class="regEmailErrorMsg"></span>
            <div class="inputDiv">
                <img src='../static/img/passwordIcon.svg' class='inputRegIcon' id="passwordRegIcon"></img>
                <!-- Пароль -->
                <label class='regLabelPassword'>
                    <%= dict[lang].labelPassword %>
                </label>
                <input class='inputReg' type='password' id="registerPassword" name="password"></input>
            </div>
            <span class="regPasswordErrorMsg"></span>
            <!-- Продолжить -->
            <button class='signInBtn'>
                <%= dict[lang].signInBtn %>
            </button>
        </form>
        <div class='anotherOptions'>
            <!-- Другие варианты входа -->
            <p class='anotherOptionsCaption'>
                <%= dict[lang].anotherOptionsCaption %>
            </p>
            <!-- Войти через Google -->
            <a class='signInWithBtn'> <img src='../static/img/googleIcon.svg' class='signInWithIcon'></img>
                <span class='signInWithCaption'>
                    <%= dict[lang].signWithGoogle %>
                </span></a>
            <!-- Войти через Facebook -->
            <a class='signInWithBtn'> <img src='../static/img/facebookIcon.svg' class='signInWithIcon'></img>
                <span class='signInWithCaption'>
                    <%= dict[lang].signWithFacebook %>
                </span></a>
            <!-- Войти через VK -->
            <a class='signInWithBtn'> <img src='../static/img/VKIcon.svg' class='signInWithIcon'></img> <span
                    class='signInWithCaption'>
                    <%= dict[lang].signWithVK %>
                </span></a>
        </div>
        <!-- Уже есть аккаунт? -->
        <!-- Войти -->
        <span class='haveAccountCaption'>
            <%= dict[lang].haveAccountCaption %>
                <a class='returnToSignUpBtn'>
                    <%= dict[lang].returnToSignUpBtn %>
                </a>
        </span>
    </div>
    <script src="../static/scripts/signup.js"></script>
</body>

</html>