<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Page</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="statusDiv">
        <div class="statusWindow">
            <div class="statusImgContainer">
			<% if (stts == 1) { %>
                <img src="img/successSign.svg" alt="status" class="statusImg">
			<% } else if (stts == 2) { %>
                <img src="img/alertSign.svg" alt="status" class="statusImg">
			<% } else { %>
                <img src="img/dangerSign.svg" alt="status" class="statusImg">
			<% } %>
            </div>
            <% for (msg of msgs) { %>
                <p> <%= dict[lang][msg] %> </p> <br>
            <% } %>
        </div>
    </div>
</body>

</html>
